AnchorPane{
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}
.button {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border:none;
    -fx-background-color: linear-gradient(#00000, #4169E1);
    -fx-alignment: center;
    -fx-background-radius: 15px;
    -fx-font-size: 20px;
    -fx-width: 100px;
}
.button:hover {
    -fx-text-fill: black;
}